body {
    text-align: center;
    background-image: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50)), url(Fondo.jpg);
    background-color: var(--vanilla);
    color: var(--oxford-blue);
    font-family: Poppins;
}
p {
    color: var(--vanilla);
}

.image{
    border: 2px solid var(--cinnabar);
    border-radius: 10px;
    height: 400px;
}

:root {
    --vanilla: #f2f3aeff;
    --flax: #edd382ff;
    --sandy-brown: #fc9e4fff;
    --cinnabar: #f4442eff;
    --oxford-blue: #020122ff;
}

h1, h2 {
    color: var(--sandy-brown);
}

.link-button {
    background-color: var(--cinnabar);
    color: var(--vanilla);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: var(--sandy-brown);
}